.shttr-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    
    color: #99979c;
    text-align: center;
    background-color: #4F4F52;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(20%);
}

.titlerow {
	background-color: #F1F1FC;
}

.postrow {
	background-color: #BBBBC4;
}

.shtlistrow {
	background-color: #F1F1FC;
	padding-top: 5px;
}

.shtcard {
	background-color: #ffffff;
	padding: 5px;
}

.sht-body {
	padding: 10px 20px;
  	margin: 0 0 20px;
  	font-size: 17.5px;
}

#new-sht-form {
	padding-bottom: 10px;
}

.icon {
	height: 20px;
	width: 20px;
}

.shadow {
  -moz-box-shadow:    2px 2px #ccc;
  -webkit-box-shadow: 2px 2px #ccc;
  box-shadow:         2px 2px #ccc;
}

